<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/about.css" />
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <ul>
          <li><a id="home" href="/">Home</a></li>
          <li><a id="about" href="/views/about.html">About</a></li>
          <li><a id="works" href="/views/works.html">Achievements</a></li>
          <li><a id="gallery" href="/views/gallery.html">Gallery</a></li>
        </ul>
      </nav>
    </header>

    <div id="main-section">
      <h1>About kobe</h1>
      <ul>
        <li>Born in August 23, 1978, in Philadelphia</li>
        <li>Died in January 26, 2020</li>
        <li>Height: 6'6 - 1.98</li>
        <li>Went to Lower Merion high school in Pennsylvania</li>
        <li>Played as a shooting guard</li>
      </ul>
    </div>
  </body>
</html>
